/*Primer ejemplo*/
body{background-image: url('../img/portada.jpg'); }

/*div.wrap{width: 95%; height: auto; background:#637340; margin: 5px auto ; padding:  15px;}
/*wrap
#header{width: 95%; height: auto; background:#ff0; margin: 20px auto ; padding: 20px}

.Menu{width: 95%; height: auto; background:#000; margin: 5px auto ; padding: 40px;}
#Menu{padding: 0;}
#Menu li{display: inline;}
#Menu li a{text-decoration: none;
           font-family: Arial;
           font-size: 1.2em;
           float:left;
           padding: 5px;
           background-color: #0f0;
           color:#000;}
#Menu li a:hover{ background-color: #f0f;}*/